
USE [DigitalNews1]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 12/24/2020 17:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article]
(
    [id] 
	[int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [title] [nvarchar]
(
    max
) NULL,
    [content] [nvarchar]
(
    max
) NULL,
    [description] [nvarchar]
(
    max
) NULL,
    [image] [nvarchar]
(
    max
) NULL,
    [time] [datetime] NULL,
    [author] [nvarchar]
(
    150
) NULL,
    PRIMARY KEY CLUSTERED
(
[id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
    GO
    SET IDENTITY_INSERT [dbo].[Article]
  ON
    SET IDENTITY_INSERT [dbo].[Article] OFF

